

.mlb-theme-selection__terms p {
	text-align: center;
	color: #87a6bc;
	font-size: 14px;
}

.mlb-theme-selection__themes-list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
	margin: 0 -10px; // items flush against list edge
}

.mlb-theme-selection__team-select-container {
	text-align: center;
}